/* NOTE!!

CHILD ELEMENTS MAY HAVE SAME NAMES BUT DIFFERENT PARENT NAMES. ALWAYS USE DECENDING CLASS SELECTORS TO SPECIFY AND TARGET THE CHILD SO THERE WOULDN'T BE AMBUIGITY AND CHAOS IN CODE!

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    font-family:'poppins',monospace;
    padding:0;
    margin:0;
    border:none;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    transition: all 0.4s ease-in-out;
}

:root{
    --main-color:#007acc;
    --second-Main-color:#00c6ff;
    --black:#07101b;
    --green:#8bc34a;
}

html {
            scroll-behavior: smooth;
        }
        
html::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body{
    color: var(--black); 
    position:relative;
    min-height: 100vh;
    word-wrap: break-word;
    line-height:1.6;
}

/* Header */
header{
    padding:7px;
    background:white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Hamburger BTN */
#hamburger{
    position:absolute;
    top:11px;
    background: transparent;
    cursor:pointer;
}

#hamburger span{
    display:block;
    background-color: var(--black);
    width:0.7cm;
    height:2px;
    margin-bottom: 6px;
}
  
#hamburger.close span{
    background: red;
}

  #hamburger.close span:nth-child(1){
    position:absolute;
    right:9px;
    transform:rotate(45deg) translate(5px, -5px);
  }
  #hamburger.close span:nth-child(2){
    opacity:0;
  }
  #hamburger.close span:nth-child(3){
    transform:rotate(-45deg) translate(5px, -7px);
  }

  /* Search form */
  .search_form_container{
    margin-top: 1em;
    width:100%;
    padding:0 1em;
  }

  .search_form_container form{
    height:1.3cm;
    display:block;
    background-color: #eaeaff;
    border:solid 3px #ddd;
    padding:0.5em;
    border-radius: 0.25em;
    border-image-source: linear-gradient(120deg, #ef44cc, #ff69b4, #ffa07a);
    border-image-slice: 1;
    animation: animate-border 1.8s linear infinite;
  }  

  @keyframes animate-border{
    0%{
        border-image-source: linear-gradient(120deg, #4f44cc, #ff69b4, #ffa07a);
    }
    50%{
        border-image-source: linear-gradient(120deg, #ffa07a, #ff69b4, #4f44cc);
    }
    100%{
        border-image-source: linear-gradient(120deg, #4f44cc, #ff69b4, #ffa07a);
    }
  }

  .search_form_container form input{
    width: calc(100% - 40px);
    padding:0.5em;
    font-size: 0.8em;
    float: left;
    background: transparent;
  }

  .search_form_container form button{
    background: transparent;
    border:none;
    color:#333;
    font-size:1em;
    cursor:pointer;
    float:right;
    padding:0.5em;
  }

  .search_form_container form button i{
    font-size: 1em;
  }

  header .right {
        display:flex;
        align-items:center;
        justify-content: flex-end;
        gap:15px;
    }
    
    header .right .icon_links{
        display: flex;
        gap:15px;
    }
    
    header .right .icon_links a img{
        width:26px;
        height: 26px;
        object-fit:cover;
    }
    
    header .right h1{
        color:var(--main-color);
        font-size:18px;
    }
    
    header .right .img_container{
        width:35px;
        height: 35px;
    }
    
    header .right .img_container img{
        width:100%;
        border-radius: 50%;
    }

/* Sidebar */
#sidebar{
    background-color: #f7f7f7;
    position:fixed;
    width:255px;
    right:-255px;
    top:0;
    height:100vh;
    z-index: 1101;
}

#sidebar.active{
    right:0px;
}

#sidebar ul{
    padding:15px;
}

#sidebar ul a li{
    margin-top:8%;
    display:flex;
    align-items: center;
    font-size: 14px;
    border-right:solid 2px grey;
    color:var(--black);
}

#sidebar ul a li:hover{
    border-right:solid 2px var(--main-color);
}

#sidebar ul a li .img_div{
    width: 40px;
    height:40px;
    margin-right: 2%;
}

#sidebar ul a li .img_div img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:5px;
}

#sidebar .centers{
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

#sidebar .profile_link{
    position:absolute;
    bottom: 15px;
    padding: 2%;
}

#sidebar .profile_link a{
    display: flex;
    align-items: center;
    gap:4%;
    color:var(--black);
}

#sidebar .profile_link .img_div{
    width:40px;
    height:40px;
}

#sidebar .profile_link .img_div img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
}

#sidebar .profile_link h1{
    font-size: 14px;
}

/* General Section Setting */
section{
    padding:15px;
}

section h1{
    font-size:1.4em;
}

section p{
    font-size:17px;
}

/* First Section */
.first_section{
    background: linear-gradient(to right, var(--main-color), var(--second-Main-color));
    color: white;
}

.first_section .first_p{
    background: linear-gradient(to right, #031930, #223a59);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-size:1.2em;
    margin:3% 0 2% 0;
}

.first_section .about_content p{
    margin:12px 0 18px 0;
}

.first_section .img_container{
    max-width:500px;
}

.first_section .img_container img{
    width:100%;
    height:350px;
    border-radius:20px;
}

/* Second Section */

.second_section {
    background: linear-gradient(45deg, #758ba5, #758ba5);
}

.second_section .first_p{
    background: linear-gradient(to right, #031930, #223a59);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-size:1.1em;
    margin:3% 0 2% 0;
}

.second_section h1{
    color: #f2f2f2;
}

.second_section .about_content p{
    color:#d1dded;
    margin:12px 0 18px 0;
}

.second_section .img_container{
    width:100%;
    display:flex;
    gap:4px;
}

.second_section .img_container .item1{
    width:60%;
}

.second_section .img_container .item2{
    width:40%;
}

.second_section .img_container img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}

/* Third Section */
.third_section{
    background-color:#d2ceb2;
}

.third_section p{
    margin:12px 0 18px 0;
}

.third_section button{
    padding:4px;
    width:4cm;
    height:2cm;
    font-size:16px;
    color:white;
    background-color:var(--black);
    border-radius:23px;
    cursor:pointer;
}
.third_section button:hover{
    background-color:var(--green);
}


/* Fourth Section */
.fourth_section{
    background-color: #c5d9e0;
}

.fourth_section .container {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top: 20px;
    margin-bottom:30px;
}

.fourth_section .container .item{
    display:flex;
    align-items:center;
    gap:20px;
}

.fourth_section .container .item img{
    width:65px;
    height:65px;
}

.fourth_section .container .item p{
    font-size:15px;
}

/* Footer */
        .footer {
            background-color: var(--black);
            color: #ddd;
            padding: 40px 0;
        }

        .footer-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer-column {
            flex: 1;
            min-width: 200px;
            margin-bottom: 20px;
        }

        .footer-column h3 {
            color: white;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .footer-column li {
            margin-bottom: 10px;
        }

        .footer-column a {
            color: #aaa;
            text-decoration: none;
            font-size: 14px;
        }

        .footer-column a:hover {
            color: white;
        }

.social-links {
            display: flex;
            gap: 15px;
        }
        
        .social-links img {
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }

.subscribe_div{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
}

footer .subscribe_div h2{
    font-size: 1.1rem;
    color:#00c6ff;
    padding:3% 0;
}

footer .subscribe_div form{
    display:flex;
    gap:1%;
}

footer .subscribe_div form input{
    border-radius: 20px;
    padding: 7px;
    height:1cm;
}

footer .subscribe_div form button{
    border-radius: 20px;
    padding:7px;
    cursor: pointer;
    background-color: white;
}

footer .subscribe_div form button:hover{
    background-color:var(--second-Main-color);
}

.copyright {
            text-align: center;
            padding-top: 20px;
            border-top: 1px solid #444;
            margin-top: 20px;
            font-size: 14px;
            color: #aaa;
        }
