/* NOTE!!

CHILD ELEMENTS MAY HAVE SAME NAMES BUT DIFFERENT PARENT NAMES. ALWAYS USE DECENDING CLASS SELECTORS TO SPECIFY AND TARGET THE CHILD SO THERE WOULDN'T BE AMBUIGITY AND CHAOS IN CODE!

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    font-family:'poppins', monospace;
    padding:0;
    margin:0;
    border:none;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    transition: all 0.4s ease-in-out;
}

:root{
    --main-color:#007acc;
    --second-Main-color:#00c6ff;
    --black:#07101b;
    --green:#8bc34a;
    --white: white;
}

html {
            scroll-behavior: smooth;
        }
        
html::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body{
    color: var(--black); 
    position:relative;
    min-height: 100vh;
    word-wrap: break-word;
    background-color: #f7f9fc;
    line-height:1.6;
}

/* Header */
header{
    padding:7px;
    background:white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Hamburger BTN */
#hamburger{
    position:absolute;
    top:11px;
    background: transparent;
    cursor:pointer;
}

#hamburger span{
    display:block;
    background-color: var(--black);
    width:0.7cm;
    height:2px;
    margin-bottom: 6px;
}

#hamburger.close span{
    background: red;
}
  
  #hamburger.close span:nth-child(1){
    position:absolute;
    right:9px;
    transform:rotate(45deg) translate(5px, -5px);
  }
  #hamburger.close span:nth-child(2){
    opacity:0;
  }
  #hamburger.close span:nth-child(3){
    transform:rotate(-45deg) translate(5px, -7px);
  }

    /* Search form */
    .search_form_container{
        margin-top: 1em;
        width:100%;
        padding:0 1em;
      }
    
      .search_form_container form{
        height:1.3cm;
        display:block;
        background-color: #eaeaff;
        border:solid 3px #ddd;
        padding:0.5em;
        border-radius: 0.25em;
        border-image-source: linear-gradient(120deg, #ef44cc, #ff69b4, #ffa07a);
        border-image-slice: 1;
        animation: animate-border 1.8s linear infinite;
    }  
  
    @keyframes animate-border{
      0%{
          border-image-source: linear-gradient(120deg, #4f44cc, #ff69b4, #ffa07a);
      }
      50%{
          border-image-source: linear-gradient(120deg, #ffa07a, #ff69b4, #4f44cc);
      }
      100%{
          border-image-source: linear-gradient(120deg, #4f44cc, #ff69b4, #ffa07a);
      }
    }
    
      .search_form_container form input{
        width: calc(100% - 40px);
        padding:0.5em;
        font-size: 0.8em;
        float: left;
        background: transparent;
      }
    
      .search_form_container form button{
        background: transparent;
        border:none;
        color:#333;
        font-size:1em;
        cursor:pointer;
        float:right;
        padding:0.5em;
      }
    
      .search_form_container form button i{
        font-size: 1em;
      }

      header .right {
        display:flex;
        align-items:center;
        justify-content: flex-end;
        gap:15px;
    }
    
    header .right .icon_links{
        display: flex;
        gap:15px;
    }
    
    header .right .icon_links a img{
        width:26px;
        height: 26px;
        object-fit:cover;
    }
    
    header .right h1{
        color:var(--main-color);
        font-size:18px;
    }
    
    header .right .img_container{
        width:35px;
        height: 35px;
    }
    
    header .right .img_container img{
        width:100%;
        border-radius: 50%;
    }
    

/* Sidebar */
#sidebar{
    background-color: #f7f7f7;
    position:fixed;
    width:255px;
    right:-255px;
    top:0;
    height:100vh;
    z-index: 1101;
}

#sidebar.active{
    right:0px;
}

#sidebar ul{
    padding:15px;
}

#sidebar ul a li{
    margin-top:8%;
    display:flex;
    align-items: center;
    font-size: 14px;
    border-right:solid 2px grey;
    color:var(--black);
}

#sidebar ul a li:hover{
    border-right:solid 2px var(--main-color);
}

#sidebar ul a li .img_div{
    width: 40px;
    height:40px;
    margin-right: 2%;
}

#sidebar ul a li .img_div img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:5px;
}

#sidebar .centers{
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

#sidebar .profile_link{
    position:absolute;
    bottom: 15px;
    padding: 2%;
}

#sidebar .profile_link a{
    display: flex;
    align-items: center;
    gap:4%;
    color:var(--black);
}

#sidebar .profile_link .img_div{
    width:40px;
    height:40px;
}

#sidebar .profile_link .img_div img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
}

#sidebar .profile_link h1{
    font-size: 14px;
}
    
    /* General Section Setting */
    section{
        padding:15px;
    }
    

/* First Section*/
.hero-section {
    background-image: url('all.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: var(--white);
    position: relative;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.hero-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.hero-cta {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap:wrap;
}

.cta-btn {
    padding: 14px 24px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
    font-size: 0.9rem;
    transition: var(--transition);
}

.cta-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Second Section */
.second_section{
    background-color: #f7f7f7;
}

.second_section .container {
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    overflow-x:scroll;
    margin-top: 20px;
    scroll-behavior: smooth;
    padding-bottom:10px;
}

.second_section .container::-webkit-scrollbar-track {
    background-color: transparent;
}

.second_section .container::-webkit-scrollbar {
    width: 0.4rem;
    height: .3rem;
}

.second_section .container .item{
    position:relative;
    width:100%;
}

.second_section .container .item img{
    width:60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.second_section .container .item:hover img{
    filter: brightness(80%);
    transform: scale(1.05);
}

/* Third Section */
.third_section {
    background-color: #d2ceb2;
}

.third_section .container {
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:6%;
    padding-bottom:10px;
}

.third_section .container .item{
    position: relative;
    width: 100%;
    max-width:230px;
    margin-bottom: 30px;
}

.third_section .container .item img{
    width:100%;
    height:230px;
    border-radius: 8px;
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.third_section .container .item:hover img{
    filter: brightness(80%);
    transform: scale(1.05);
}

.third_section .container .item button{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 14px 24px;
    text-align: center;
    width: max-content;
    font-size: 1rem;
}

.third_section .container button:hover{
    background-color: var(--black);
    color:white;
}

/* Fourth Section */
.fourth_section{
    background-color: #f2f2f2;
}

.fourth_section .container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    max-width: 100%;
    margin-top:20px;
    padding-bottom:10px;
}

.fourth_section .container::-webkit-scrollbar-button{
    background-color:var(--main-color);
    cursor:pointer;
    border-radius:50px;
}

.fourth_section .container::-webkit-scrollbar-track {
    background-color: #fff;
    cursor:pointer;
}

.fourth_section .container::-webkit-scrollbar {
    height: 4px;
    transition:0.3s ease-in-out;
}

.fourth_section .container::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius:10px;
}

.fourth_section .container .item {
    width: 100%;
}

.fourth_section .container .item img {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.fourth_section .container .item:hover img {
    filter: brightness(80%);
    transform: scale(1.05);
}

/* Fith Section */
.fith_section{
    background-image:url('glow.jpg');
    background-position: center;
    background-size:cover;
    object-fit: cover;
    height:400px;
    color:white;
    display: flex;
    align-items: center;
}

.fith_section .container{
    margin-left:3%;
    font-weight: bold;
}

.fith_section .container h1{
    font-size: 2rem;
    margin-bottom:15px;
}

.fith_section .container p{
    font-size: 1.2rem;
}

.fith_section .container a{
    padding:14px 24px;
    margin-top:30px;
    font-size:1.1rem;
    border-radius: 30px;
    background-color: white;
    color:var(--black);
    display:inline-block;
}

.fith_section .container a:hover{
    background-color: var(--black);
    color:white;
}

/* Sixth Section */
.sixth_section{
    background-color: #f8e6c1;
}

.sixth_section .container {
    display: flex;
    justify-content: space-between;
    overflow-x:scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
    gap:20px;
    margin-bottom:30px;
}

.sixth_section .container::-webkit-scrollbar-button{
    background-color:var(--main-color);
    cursor:pointer;
    border-radius:50px;
}

.sixth_section .container::-webkit-scrollbar-track {
    background-color: #fff;
    transition:0.3s ease-in-out;
    cursor:pointer;
}

.sixth_section .container::-webkit-scrollbar {
    height: 4px;
}

.sixth_section .container::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius:10px;
}

.sixth_section .container .item{
    position: relative;
}

.sixth_section .container .item img{
    max-width:250px;
    min-width:180px;
    height:250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.sixth_section .container .item .a_link{
    position: absolute;
    bottom:20px;
    left: 0;
    right:0;
    margin: 0 auto;
    text-align: center;
    width:max-content;
    padding:10px 20px;
    color:var(--black);
    font-size: 1rem;
    background-color: white;
    border-radius: 30px;
}

.sixth_section .container .a_link:hover{
    background-color: var(--black);
    color:white;
}

/* Seventh Section */
.seventh_section{
    background-color: #c5d9e0;
}

.seventh_section .container {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top: 20px;
    margin-bottom:30px;
}

.seventh_section .container .item{
    display:flex;
    align-items:center;
    gap:20px;
}

.seventh_section .container .item img{
    width:65px;
    height:65px;
}

.seventh_section .container .item p{
    font-size:15px;
}

/* Footer */

 .footer {
            background-color: var(--black);
            color: #ddd;
            padding: 40px 0;
        }

        .footer-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer-column {
            flex: 1;
            min-width: 200px;
            margin-bottom: 20px;
        }

        .footer-column h3 {
            color: white;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .footer-column li {
            margin-bottom: 10px;
        }

        .footer-column a {
            color: #aaa;
            text-decoration: none;
            font-size: 14px;
        }

        .footer-column a:hover {
            color: white;
        }

        .social-links {
            display: flex;
            gap: 15px;
        }
        
        .social-links img {
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }

.subscribe_div{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
}

footer .subscribe_div h2{
    font-size: 1.1rem;
    color:#00c6ff;
    padding:3% 0;
}

footer .subscribe_div form{
    display:flex;
    gap:1%;
}

footer .subscribe_div form input{
    border-radius: 20px;
    padding: 7px;
    height:1cm;
}

footer .subscribe_div form button{
    border-radius: 20px;
    padding:7px;
    cursor: pointer;
    background-color: white;
}

footer .subscribe_div form button:hover{
    background-color:var(--second-Main-color);
}

.copyright {
            text-align: center;
            padding-top: 20px;
            border-top: 1px solid #444;
            margin-top: 20px;
            font-size: 14px;
            color: #aaa;
        }
