/* NOTE!!

CHILD ELEMENTS MAY HAVE SAME NAMES BUT DIFFERENT PARENT NAMES. ALWAYS USE DECENDING CLASS SELECTORS TO SPECIFY AND TARGET THE CHILD SO THERE WOULDN'T BE AMBUIGITY AND CHAOS IN CODE!

*/

*{
    font-family:monospace;
    padding:0;
    margin:0;
    border:none;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    transition: all 0.4s ease-in-out;
}

:root{
    --main-color:#007acc;
    --second-Main-color:#00c6ff;
    --black:#07101b;
    --green:#8bc34a;
}

html::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body{
    color: var(--black); 
    position:relative;
    min-height: 100vh;
    word-wrap: break-word;
    background-color: #f7f9fc;
}

/* Header */
header{
    padding:7px;
    background:white;
}

header .content {
    display:flex;
    align-items:center;
    justify-content:right;
    gap:5px;
}

header .content h1{
    color:var(--main-color);
    font-size:25.6px;
}

header .content .img_container{
    width:35px;
}

header .img_container img{
    width:100%;
    border-radius:50%;
}

/* General Section Setting */
section{
    padding:10px;
}

/* First Section*/
.first_section{
    background-image:url('all.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height:500px;
    text-align: center;
}

.first_section h1{
    font-size:29px;
    color:white;
}

.first_section p{
    font-size:25px;
    padding:2.2% 0;
    color:white;
}

.first_section a{
    padding:14px;
    margin-top:3%;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    color:var(--black);
    display:inline-block;
}

.first_section a:hover{
    background-color: var(--black);
    color:white;
}

/* Second Section */
.second_section{
    background-color: #f7f7f7;
}

.second_section h1{
    font-size: 23px;
}

.second_section .container {
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    overflow-x:scroll;
    padding-top: 1.5%;
    max-width: 100%;
    position:relative;
    scroll-behavior: smooth;
} 

.second_section .container .item{
    position:relative;
    width:100px;
}

.second_section .container .item img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    transition:transform 0.3s ease-in-out;
}

.second_section .container .item:hover img{
    filter: brightness(70%);
    transform: scale(0.9);
}

/* Third Section */
.third_section {
    background-color: #d2ceb2;
}

.third_section h1{
    font-size: 23px;
}

.third_section .container {
    padding-top: 1.5%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2.8%;
}

.third_section .container .item{
    position:relative;
    display:flex;
}

.third_section .container .item img{
    max-width:230px;
    min-width:115px;
    border-radius: 10px;
    transition:transform 0.3s ease-in-out;
}

.third_section .container .item:hover img{
    filter: brightness(70%);
    transform: scale(0.9);
}

.third_section .container .item a{
    padding:10px;
    color:var(--black);
    font-size: 13px;
    background-color: white;
    position:absolute;
    bottom:2%;
    left:0;
    border-radius: 23px;
}

.third_section .container a:hover{
    background-color: var(--black);
    color:white;
}

/* Fourth Section */
.fourth_section{
    margin-top:1.2%;
    background-color: #f2f2f2;
}

.fourth_section h1{
    font-size: 23px;
}

.fourth_section .container {
    display: flex;
    justify-content: space-between;
    overflow-x:scroll;
    scroll-behavior: smooth;
    padding-top: 1.5%;
    max-width: 100%;
    gap:20px;
}

.fourth_section .container .item{
    position: relative;
    width:200px;
}

.fourth_section .container .item img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
}

.fourth_section .container .item:hover img{
    filter: brightness(70%);
    transform: scale(0.9);
}

/* Fith Section */
.fith_section{
    background-image:url('glow.jpg');
    background-position: center;
    background-size:cover;
    object-fit: cover;
    height:400px;
}

.fith_section .container{
    padding:10px;
    margin-top:5%;
}

.fith_section .container h1{
    font-size: 26px;
    color:white;
}

.fith_section .container p{
    font-size:1.5em;
    padding:2.2% 0;
    color:white;
}

.fith_section .container a{
    padding:14px;
    font-size:20px;
    border-radius: 30px;
    background-color: white;
    color:var(--black);
    display:inline-block;
}

.fith_section .container a:hover{
    background-color: var(--black);
    color:white;
}

/* Sixth Section */
.sixth_section{
    margin-top:1.2%;
    background-color: #f2f2f2;
}

.sixth_section h1{
    font-size: 23px;
}

.sixth_section .container {
    display: flex;
    justify-content: space-between;
    overflow-x:scroll;
    scroll-behavior: smooth;
    padding-top: 1.5%;
    max-width: 100%;
    gap:20px;
}

.sixth_section .container .item{
    position: relative;
}

.sixth_section .container .item img{
    max-width:250px;
    min-width:180px;
    object-fit: cover;
    border-radius: 10px;
}

.sixth_section .container .item .a_link{
    position: absolute;
    bottom:2%;
    left: 0;
    padding:10px 20px;
    color:var(--black);
    font-size: 15px;
    background-color: white;
    border-radius: 23px;
}

.sixth_section .container .a_link:hover{
    background-color: var(--black);
    color:white;
}

/* Seventh Section */
.seventh_section{
    background-color: #c5d9e0;
}

.seventh_section .container {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.seventh_section .container .item{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:20px;
}

.seventh_section .container .item img{
    width:65px;
    max-height:69px;
    margin:1%;
}

/* Seventh Section 
.seventh_section{
    background-color: #c5d9e0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:200px;
}*/

/* Footer */

footer{
    background-color: var(--black);
    width:100%;
}

footer .footer_links{
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer .footer_links a{
    color:white;
    padding-top:2.4%;
}

footer .footer_links a:hover{
    color:var(--second-Main-color);
}

footer .social_imgs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

footer .social_imgs img{
    width:50px;
    border-radius: 30px;
}
